body {
    background: #f5f5f5;
}
.editable-element {
    --editable-sizing: 200px;
    --editable-left: calc(50% - var(--editable-sizing)/2);
    --editable-top: 12.5%;
    background: black;
    position: absolute;
    top: var(--editable-top);
    width: var(--editable-sizing);
    height: var(--editable-sizing);
    left: var(--editable-left);
    transition: 0.75s;
}

.form-group {
    position: absolute;
    width: 100vw;
    left: 0;
    bottom: 0;
    background: none;
    text-align: center;
}

textarea {
    position: relative;
    top: -50px;
    right: -53px;
    border: 1px solid black;
}

textarea:focus {
    outline: none;
    box-shadow: 1px 1px 5px grey;
}

#submit {
    position: relative;
    left: -150px;
    margin-bottom: 25px;
    background: white;
    color: black;
    border: 1px solid black;
    width: 100px;
    height: 50px;
    transition: 0.3s;
    cursor: pointer;
}

#submit:hover {
    color: white;
    background: black;
}

#submit:focus {
    outline: none;
}

#submit:active {
    background: grey;
}

#tip {
    position: relative;
    top: -45px;
    font-size: 0.75em;
}
